body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(131, 138, 138);
  overflow-x: hidden;
  margin: 0;
  border: 0;
}

.tela {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2B2B2B;
  float: none;
}

.top--bar {
  position: fixed;
  top: 0;
  font-family: 'Zilla Slab', serif;
  max-width: 1440px;
  margin: 0 auto;
  float: none;
  background-color: #2B2B2B;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav a {
  text-decoration: none;
  font-family: 'Zilla Slab', serif;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 200;
  padding-left: 60px;
  padding-right: 60px;
}

.top-empty-bar {
  display: none;
}

.hidden {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 600px;
  padding: 120px 0;
  background: #222;
  z-index: 200;
}


h2 {
  color: #2b2b2b;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2em;
  grid-area: photo;
  font-weight: bold;
}

#bold {
  font-size: 1.2em;
  font-weight: bold;
}

.principal {
  margin-top: 90px;
  color: #FFFFFF;
  font-family: 'Zilla Slab', serif;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.principal h1 {
  font-size: 2.0em;
  font-weight: 500;
  max-width: 1440px;
  margin-top: 100px;
  margin-left: 30%;
  margin-right: 30%;
}

.principal p {
  font-size: 1.5em;
  font-weight: 100;
  max-width: 1440px;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

.fotos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.fotos img {
  margin-top: 40px;
  max-width: 800px;
  border-radius: 15px;
}

.video iframe {
  margin-top: 40px;
  max-width: 800px;
  border-radius: 15px;
}

/* CASOS FEATURES */

.titulo-outros {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.titulo-outros a {
  display: flex;
  justify-content: center;
}

.titulo-outros a img {
  width: 60%;
  padding-bottom: 50px;
}

.casos {
  background-color: #2B2B2B;
  color: #FFFFFF;
  font-family: 'Nunito Sans', sans-serif;
  grid-area: photo;
  padding-top: 50px;
  padding-bottom: 80px;
}

.projeto {
  font-size: 0.9em;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.div__casos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 60px;
  justify-items: center;
}

.projeto a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: 400;
}

.caso {
  cursor: pointer;
  width: 50%;
  border-radius: 150px;
}


.foot {
  background-color: #2b2b2b;
  margin: 0px;
  font-family: 'Zilla Slab', serif;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.foot--logo {
  width: 80%;
}

.foot p {
  color: #6e6e6e;
  font-size: 1.5em;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.seta a h1 {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 3em;
}

@media only screen and (max-width: 700px) {

  .top--bar {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    top: 0;
    font-family: 'Zilla Slab', serif;
    max-width: 700px;
    margin: 0 auto;
    float: none;
    background-color: #2B2B2B;
    width: 100vw;
    height: 90px;
    z-index: 100;
  }

  nav a {
    text-decoration: none;
    font-family: 'Zilla Slab', serif;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
  }

  .principal h1 {
    font-size: 2.0em;
    font-weight: 500;
    max-width: 1440px;
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
  }

  .fotos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .fotos img {
    margin-top: 40px;
    max-width: 95%;
    max-height: 90%;
    border-radius: 15px;
  }

  .video iframe {
    margin-top: 40px;
    margin-left: 2.5%;
    max-width: 95%;
    max-height: 220px;
    border-radius: 15px;
  }

  .casos {
    background-color: #2B2B2B;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    grid-area: photo;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .projeto {
    font-size: .65em;
    text-align: center;
    padding: 10px 0px 0px 0px;
  }

  .div__casos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    justify-items: center;
  }

  .projeto a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 400;
  }

  .caso {
    cursor: pointer;
    width: 50%;
    border-radius: 150px;
  }




  .seta a h1 {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2em;
  }

  .foot--logo {
    width: 60%;
  }

  .top-empty-bar {
    display: flex;
    position: fixed;
    top: 0;
    max-width: 1440px;
    margin: 0 auto;
    float: none;
    background-color: #2B2B2B;
    width: 100vw;
    height: 90px;
    z-index: 100;
  }


  .hidden ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* drawer menu */
  .drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 480px;
    padding: 120px 0;
    background: #2B2B2B;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0;
  }

  .drawer-menu li {
    text-align: center;
  }

  .drawer-menu li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all .8s;
    transition: all .8s;
  }

  .drawer-menu li a:hover {
    color: #1a1e24;
    background: #fff;
  }

  /* checkbox */
  .check {
    display: none;
  }

  /* menu button - label tag */
  .menu-btn {
    color: #fff;
    position: fixed;
    display: block;
    top: 30px;
    left: 20px;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 300;
  }


  .menu-btn:hover .bar {
    background: #FFFFFF;
  }

  .close-menu {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 90px;
    background: #fff;
    cursor: url(http://theorthodoxworks.com/demo/images/cross.svg), auto;
    visibility: hidden;
    opacity: 0;
  }

  /* checked */
  .check:checked~.drawer-menu {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 100;
    z-index: 2;
  }

  .check:checked~.contents {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
  }

  .check:checked~.menu-btn .menu-btn__text {
    visibility: hidden;
    opacity: 0;
  }

  .check:checked~.menu-btn .bar.top {
    width: 56px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .check:checked~.menu-btn .bar.middle {
    opacity: 0;
  }

  .check:checked~.menu-btn .bar.bottom {
    width: 56px;
    top: 40px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .check:checked~.close-menu {
    color: #fff;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    background: #2B2B2B;
    visibility: visible;
    opacity: 0;
    z-index: 3;
  }
}